@page
@model ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password. or click here <a href="@Model.CallbackUrl">@Model.CallbackUrl</a>
</p>


